{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <!--Jumbotron start-->
    <div class="jumbotron jumbotron-fluid mx-5 my-1 rounded-lg">
        <div class="container">
            <h1 class="display-4 text-monospace">Latest Crypto News</h1>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo assumenda facere voluptas pariatur at doloremque, fugiat amet, neque cupiditate aliquid aperiam quo sequi ad soluta repudiandae et. Magni, necessitatibus nam.</p>
        </div>
    </div>
    <!--Jumbotron end-->
{% endblock %}
    

